
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.main-content{
	width: 60%;
	float: left;
}
.siderbar{
	width: 29%;
	float: right;
}

.mt-5{
	margin-top:50px;
}
.active a{
	color:white;
}

